*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}

#navbar{

width: 90%;
height: 60px;

display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 30px;
}

#navbar img {

    width: 12%;
    min-height: 5%;
    margin-left:20px ;

    

}

#navbar nav ul {

display: flex;
gap: 30px;
list-style: none;
margin-left: 40px;

}

#navbar nav ul li a{

text-decoration: none;
color: black;
text-transform: uppercase;

}

#navbar nav ul li a:hover{

color: #2887ff;
font-size: 15px;
text-decoration: underline;


}

#navbar div{

display: flex;
gap: 20px;
align-items: baseline;

}

#navbar button {

font: 16px ;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
border-radius: 20px;
background-color: #2887ff;

margin: 10px 0px 0px;
padding: 12px 24px;
margin-left: 40px;

}
#navbar button:hover{
    font-size: 16px;
    color: #ffffff;
}

#navbar div:hover{
font-size: 20px;
color: #2887ff;


}